WebContent/wsdl/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mywebsvc.eco.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mywebsvc.eco.com" xmlns:intf="http://mywebsvc.eco.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mywebsvc.eco.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="constructor">
    <complexType/>
   </element>
   <element name="constructorResponse">
    <complexType/>
   </element>
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="s" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="constructorRequest">

      <wsdl:part element="impl:constructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="constructorResponse">

      <wsdl:part element="impl:constructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloWorld">

      <wsdl:operation name="constructor">

         <wsdl:input message="impl:constructorRequest" name="constructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:constructorResponse" name="constructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldSoapBinding" type="impl:HelloWorld">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="constructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="constructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="constructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldService">

      <wsdl:port binding="impl:HelloWorldSoapBinding" name="HelloWorld">

         <wsdlsoap:address location="http://localhost:8585/First_Web_Service/services/HelloWorld"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
